.basicCake .title{
    position: relative;
    top: -47%;
    left: 25%;
    transform: translate(-50%, -50%); 
    width: 50%;
    text-align: center;
    font-family: "Atma", serif;
    color: #BB8899;
}
.basicCake {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}
.cards{
    position: relative;
    top: 10%;
}