.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 50px; 
    justify-content: center;
    align-items: center;
    position: relative;
    top: 24%;
    transform: translate(-50%, -50%);
}

.cardComponent{
    border: 1px solid hsla(0, 0%, 100%, 0.8);
    align-items: center;
    text-align: center;
    border-radius: 10px;
    justify-content: space-between; 
    padding: 20px;
    box-shadow: 5px 5px 5px #BB8899;
    max-width: 200px;
    display: flex; 
    flex-direction: column;
    aspect-ratio: 1 / 1;
    opacity: 0;
    transform: translateY(50px);
}

.cardComponent .card {
    align-items: center;
    text-align: center; 
}

.cardComponent .card .cardImage{
width: 100px;
max-width: 100%;
max-height: 120px;
border-radius: 15px;
height: 60%;
object-fit: cover; 
}

.cardComponent:hover {
    transform: scale(1.1); 
}

.cardComponent .card .cardTitle{
    font-family: "Atma", serif;
    color: #BB8899;
    margin-top: 20px;
    font-size: 20px;
}


