.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: sticky;
    top: 0;
    width: 100%; 
    background-color:#ECACC0;
    padding-bottom: 0%;
    padding-top: 20px;
}

.logo-image {
    height: 150px;
    width: auto; 
    border-radius: 50%; 
    transition: transform 0.3s ease;
    background-color: #EED1DB;
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
}
.navBar img:hover {
    transform: scale(1.1); 
  }

.links ul {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin-right: 100px; 
}

.nav-button {
    color: white; 
    font-weight: bolder;
    font-size: 35px;
    padding: 10px 20px;
    background-color: transparent; /* Διαφανές background */
    transition: all 0.3s ease-in-out; 
    border: none;
    -webkit-text-stroke: 1px #BB8899;
}

.signin {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.signin:hover{
    transform: scale(1.1);
}

.signin img{
    height: 50px;
    width: auto; 
    border-radius: 50%; 
    transition: transform 0.3s ease;
}
@media (max-width: 768px) {
    .navBar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .links ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .links ul li a {
        padding: 10px;
    }

    .signin {
        margin-top: 10px;
    }
}