.buttons{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 93%;
    width: 100%;
    gap: 80px;
    margin: 10px;
}
.centerBtn{
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    padding: 8px 15px;
    transition: color 0.3s ease;
    border-radius: 100px;
    align-items: center;
    width: 200px;
    height: 200px;
    border:1px solid #BB8899;
    background-color:#ECACC0;
}
img {
    width: 70px;
    align-items: center;
}

h3{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 65%;
    width: 70%;
    margin-left: 240px;
    text-align: center;
    font-size: 25px;
    color: #BB8899;    
    font-family: "Atma", serif;

    font-weight: 700;
}

h1 {
    position: absolute;
    justify-content: center;
    display: flex;
    top: 80%;
    width: 70%;
    margin-left: 240px;
    text-align: center;
    font-size: 35px;
    color: #BB8899;
    font-family: "Atma", serif;
    /* -webkit-text-stroke: 2px #BB8899; */
    font-weight: bolder;
}