.cakeDetails {
    display: flex;
    margin: 100px;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.cakeDetails .cakeImage {
    width: 30%;
    object-fit: cover;
    border-radius: 15%;
    box-shadow: 5px 5px 5px #BB8899;
}

.cakeDetails .title{
    margin: 60px;
    text-align: center;
    font-family: 'Atma';
    font-size: xxx-large;
    color: #BB8899;
}

.cakeDetails .description{
    text-align: center;
    font-family: 'Atma';
    font-size: large;
    color: #BB8899;

}

.cakeDetails .price {
    color: #7f7f7f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px;
    gap: 30px;
}

.cakeDetails .btn{
    background-color: transparent;
}

.cakeDetails .btnImage{
    width: 32px;
}
.priceBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}